<% if @not_found %>
<h1> Sorry, We could not find any matching results. Please see below for all open listings on website</h1>
<% end %>


 <div class="container">
  <div class="row">
    <div class="listing-row">
    <% @listings.each do |listing| %>

      <figure class="snip1336">
      <%= image_tag listing.photos %>
      <figcaption>
        <% unless listing.user.photo? %>
        <img src="https://kitt.lewagon.com/placeholder/users/s" class="profile" alt="">
        <% else %>
        <%= image_tag listing.user.photo, class: "profile" %>
        <% end %>

        <h2><%=listing.user.first_name %><span> <p></p> <%= listing.description.truncate(25)  %> </span></h2>


        <p> <% listing.dates.flatten %></p>
        <p><i class="fa fa-cutlery"></i> Experience: <%= listing.experience %> years</p>
        <p><i class="fa fa-tag"></i>Hourly price: <%= humanized_money_with_symbol(listing.price_amount) %></p>
        <% if !listing.user.last_sign_in_at.nil? %>
          <% last_online = (listing.user.last_sign_in_at) %>
        <p>  <i class="fa fa-user-o"></i>Last online: <%= last_online.strftime("%A, %b %d") %></p>
        <% else %>
        <p>  <i class="fa fa-user-o"></i>Last online: <%= Date.today.strftime("%A, %b %d") %></p>
        <% end %>
        <%= link_to "message", create_convo_path(listing.user) , method: :post, class: "info" %>
        <%= link_to "more info", listing_path(listing.id), class: "info" %>
      </figcaption>
    </figure>
  <% end %>
    </div>
  </div>
</div>



<!--

 <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
      <div class="card-category"><%# listing.user.first_name %></div>
      <div class="card-description">
        <h2><%# listing.experience %></h2>
        <p><%# listing.speciality%></p>
      </div>
      <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
      <%# link_to "", listing_path(listing.id), class: "card-link" %>
    </div>

 -->








