<div class="map" style="background-image: url('https://static.pexels.com/photos/357743/pexels-photo-357743.jpeg')"></div>

<div class="container margin-top-negative">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <div class="listing-show-card">

        <h1 class="text-center"><%= @listing.user.first_name %></h1>
        <p class="listing-show-address text-center">I have been cooking for<%= @listing.experience%></p>
      </div>
      <div class="listing-show-card">
        <h3 class="text-center">More about this cook</h3>
        <p><%= @listing.description %></p>
        <div class="map" style="background-image: url('https://maps.googleapis.com/maps/api/staticmap?center=<%= @listing.line1 %><%= @listing.postcode %> &zoom=13&scale=2&size=1000x1000&maptype=roadmap&markers=size:mid%7Ccolor:0xff0000%7C<%= @listing.postcode %>&key=AIzaSyC0C-SkI5TYEeRaIft86MsCGUEVzEbRFMo')"></div>


    </div>
  </div>

    <div class="col-xs-12 col-md-4">
      <div class="listing-show-card">
        <h5>Book this cook!</h5>
        <%= simple_form_for [@listing, @booking]  do |f| %>
          <%= f.input :booking_date, as: :string, required: false, input_html: {class: "booking-datepicker"}, placeholder: "Select date" %>
          <%= f.input :start_time, as: :string, input_html: {class: "time-picker"}, placeholder: "Start time" %>
          <%= f.input :end_time, as: :string, input_html: {class: "time-picker"}, placeholder: "End time" %>
          <%= f.submit class: "btn btn-success" %>
        <% end %>
<!--
        <form action="">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Date:</span>
            <input type="date" class="form-control" placeholder="12/10/2017" aria-label="Username" aria-describedby="basic-addon1">
          </div>
            <div class="input-group mt-2">
            <span class="input-group-addon" id="basic-addon1">Time From:</span>
            <input type="time" class="form-control" placeholder="18/10/2017" aria-label="Username" aria-describedby="basic-addon1">
          </div>
             <div class="input-group mt-2">
            <span class="input-group-addon" id="basic-addon1">Time To:</span>
            <input type="time" class="form-control" placeholder="18/10/2017" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <input type="submit" value="Book" class="btn btn-success mt-2" style="width: 100%">
        </form> -->
      </div>
      <div class="listing-show-card">
        <h3>Details</h3>
        <div class="flex">
          <div class="flex">
            <i class="material-icons mr-2">Price per hour: <%= humanized_money_with_symbol(@listing.price_amount_pennies) %></span><br>
          </div>
        </div>
      </div>
      <div class="listing-show-card">
        <div class="flex-align">
          <h6 class="no-mb">Share</h6>

          <div class="flex">
            <i class="fa fa-facebook-square fa-2x mr-2"></i>
            <i class="fa fa-twitter-square fa-2x mr-2"></i>
            <i class="fa fa-pinterest-square fa-2x mr-2"></i>
            <i class="fa fa-envelope-square fa-2x"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<% content_for(:after_js) do %>
  <script>
    flatpickr(".booking-datepicker", {
      altInput: true,
      enable: <%= raw @listing.dates %>
    })
  </script>

<% end %>
