
<div class="conversation-body">
    <h1 class="text-center">Mailbox</h3>
     <% if @no_conversation %>
        <h3 class="text-center"> You have no messages! </h1>
          <div class="cook-button">
            <%= link_to "Back to Home", root_path, class: "btn-treehouse" %>
          </div>
    <% end %>
      <div class="body-wrapper-convo fixed-footer">
        <article class="wrapper-convo">
         <% @conversations.each do |conversation| %>
          <% if conversation.sender_id == current_user.id ||      conversation.recipient_id == current_user.id %>
          <% if conversation.sender_id == current_user.id %>
            <% recipient = User.find(conversation.recipient_id) %>
          <% else %>
            <% recipient = User.find(conversation.sender_id) %>
          <% end %>

    <div class="content-wrapper-convo">
      <%= link_to conversation_messages_path(conversation) do %>
      <div class="image">
        <img src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/avatars/avatar_tile_<%=recipient.first_name[0].downcase%>_56.png"/>
      </div>
      <div class="name"><span><%=recipient.first_name%></span></div>
      <div class="subject">
        <div class="content">
         <span class="sn"> <%= conversation.messages.last.body.truncate(100)%></span>
        </div>
      </div>
      <div class="date">
        <div class="content">
         <span class="sn"> <% date = conversation.messages.last.updated_at%>
           <%= date.strftime("%A, %d %b %Y %l:%M %p") %>
         </span>
        </div>
      </div>
    </div>
  <% end %>
  <% end %>
<% end %>
</div>

