buyer <%= @find_buyer.first_name %>
<ul>
  <% @listings.each do |l| %>
    <li><%= l.description %> <%= l.user.first_name %></li>
  <% end %>
</ul>


<ul>
  <% @bookings.each do |b| %>
    <li><%= b.listing.description %> <%= b.listing.user.first_name %></li>
  <% end %>
</ul>
