<div class="banner" style="height: 30vh; background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1490474418585-ba9bad8fd0ea?auto=format&fit=crop&w=2100&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');">
  <div class="banner-content">
    <h1><%= @user.first_name %>'s Dashboard</h1>
  </div>
</div>

<div class="wrapper-body-dashboard">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <figure class="dashboard-user">
          <%= image_tag "https://source.unsplash.com/collection/1016/800x500", id: "logo" %>
          <figcaption>
            <%= cl_image_tag @user.photo, class: "profile", width: 120, height: 120, crop: :thumb %>
            <h2><span> User info: </span></h2>
            <p><%= @user.first_name %></p>
            <p><%= @user.surname %></p>
            <p><%= @user.email %></p>
            <%= link_to "Edit details", edit_user_registration_path, class: "follow" %>
          </figcaption>
        </figure>
      </div>
      <% if @bookings.count < 0 %>
        <div class="row">
          <div class="cook-button">
            <%= link_to "Book a great cook", root_path, class: "btn-treehouse" %>
          </div>
        </div>
      <% else %>
        <div class="col-xs-12 col-sm-8">
          <div class="box">
            <div class="booking-dashboard">
              <h2><i class="fa fa-calendar-check-o" aria-hidden="true"></i> My bookings </h2>
              <% @bookings.each do |booking| %>
              <div class="message">
                <%= cl_image_tag booking.listing.user.photo, class: "profile", width: 80, height: 80, crop: :thumb %>
                <div class="message-name">
                  <h3><%= booking.listing.user.first_name %></h3>
                  <p><%= booking.booking_date %></p>
                </div>
                <div class="message-body">
                  <p><strong> Booked for: <%= booking.duration %> hrs</strong></p>
                  <p><%= booking.listing.description %></p>
                </div>
                <div class="message-status">

                  <p class="status pending"><%# booking.status.capitalize %></p>
                  <p class="price">£ <%= booking.total_amount %></p>

                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>



  <!-- BUYER -->
    <% listing = Listing.where(user_id: current_user.id) %>
    <% if listing.empty? %>

    <div class="row">
      <div class="be-a-cook">
        <div class="col-xs-12 col-md-4">
          <div class="text-center">
            <i class="fa fa-search icon-home" aria-hidden="true"></i>
            <h3> Enjoy it </h3>
            <p class="home-text">Be creative, cook your own thing, cooking is an art</p>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="text-center">
            <i class="fa fa-search icon-home" aria-hidden="true"></i>
            <h3> Earn money </h3>
            <p class="home-text">This is a great opportunity for you to earn money doing what you love</p>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="text-center">
            <i class="fa fa-cutlery icon-home" aria-hidden="true"></i>
            <h3> Get social </h3>
            <p class="home-text">Get to know great people at local events and have fun</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="cook-button">
        <%= link_to "I want to become a cook", new_listing_path, class: "btn-treehouse" %>
      </div>
    </div>


  <!-- CHEF -->
    <% else %>

      <div class="row">
        <div class="listing-header">
          <h2>Your listing:</h2>
          <%= link_to "Edit your listing", edit_listing_path(@listing), class: "btn-medium-listing" %>
        </div>
      </div>

      <div class="row">
        <div class="availability-cards">
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="availability-card">
              <h2><i class="fa fa-calendar" aria-hidden="true"></i> Your availability</h2>
              <ul style="list-style: none;" class="dates-list">
                <% @listings.last.dates.each do |date| %>
                  <li class="date"><%= date %></li>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="availability-card">
              <div>
                <h2><i class="fa fa-money" aria-hidden="true"></i> £ / h</h2>
              </div>
              <div class="number-paragraph-div">
                <p class="number-paragraph"><%= @listings.last.price_amount_pennies %></p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="availability-card">
              <div>
                <h2><i class="fa fa-check-square" aria-hidden="true"></i> Last booked</h2>
              </div>
              <div class="number-paragraph-div">
                <p class="number-paragraph-date"><%= @last_booking.booking_date %></p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="availability-card">
              <h2><i class="fa fa-line-chart" aria-hidden="true"></i> # of bookings</h2>
              <p class="number-paragraph"><%= @nb_booking %></p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="availability-card-info">
            <h2><strong>Your information:</strong></h2>
            <div class="info-row">
              <p><strong>Description: </strong><%= @listing.description %></p>
            </div>
            <div class="info-row">
              <p><strong>Experience: </strong><%= @listing.experience %></p>
            </div>
            <div class="info-row">
              <p><strong>Specialty: </strong><%= @listing.speciality %></p>
            </div>
            <div class="info-row">
              <p><strong>Events: </strong><%= @listing.events.join(" | ") %></p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="listing-photos">
            <div class="header-and-button">
              <h2><strong>Your photos</strong></h2>
              <%= link_to "View / Edit", "#", class: "btn-medium" %>
            </div>
            <div class="availability-card-photo">
              <%= image_tag "https://source.unsplash.com/collection/160213/250x189", class: "card-photo" %>
              <%= image_tag "https://source.unsplash.com/collection/251966/250x189", class: "card-photo" %>
              <%= image_tag "https://source.unsplash.com/collection/239835/250x189", class: "card-photo" %>
              <%= image_tag "https://source.unsplash.com/collection/191435/250x189", class: "card-photo" %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <div class="box-booked-me">
          <div class="booking-dashboard">
            <h2><i class="fa fa-calendar-check-o" aria-hidden="true"></i> My upcoming appointments </h2>
            <% @my_upcoming_appointments.each do |appointment| %>
            <div class="message">
              <%= cl_image_tag appointment.user.photo, class: "profile", width: 80, height: 80, crop: :thumb %>
              <div class="message-name">
                <h3><strong><%= appointment.user.first_name %></strong> </h3>
              </div>
              <div class="message-body">
                <p><strong>Date and time: </strong></p>
                <p><%= appointment.booking_date %></p>
                <p>Your booking starts at <%= appointment.start_time %>, lasts <%= appointment.duration %> hours, ending at <%= appointment.end_time %></p>
              </div>
              <div class="message-status">
                <p><strong> Your earning: </strong></p>
                <p class="price">£ <%= appointment.total_amount_pennies %></p>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>

    <% end %>

  </div>
</div>

<!--
    ***** PERSON THAT BOOKED YOU (IMAGE AND NAME)

    t.date "booking_date"
    t.integer "duration"
    t.time "start_time"
    t.time "end_time"

    t.integer "total_price"
    t.integer "total_amount_pennies",
 -->




<!--"Dates",
    "price"
    "Last booking",
    "Bookings completed",

    "Address",

    "bookings where I was booked"

    "photos"

    ***Add call to action if they have 0 bookings

    "Events",
    "description"
    "experience"
    "speciality"-->

