<% content_for(:navbar_class, "navbar-home") %>

<div class="banner">
  <div class="banner-content text-center">
    <h1>Welcome to iCanCook</h1>
    <div>
      <p>Find a local cook for your <span id="banner-typed-text"></span></p>
    </div>

    <div>
      <%= form_tag(listings_path, method: :get, :class => "home-form") do %>
      <%= text_field_tag :query, params[:search], :placeholder => "Enter your postcode", style: "color:  black;", class: "form-control home-postcode" %>
      <%= text_field_tag :dates, params[:search], :placeholder => "Choose a Date", style: "color:  grey;", class: "form-control home-date" %>
      <%= submit_tag 'Search', :name => nil, class: "btn btn-primary", style: "margin-top: 10px;" %>
      <% end %>
    </div>

  </div>
</div>

<div class="wrapper-home">
  <div class="container">
    <div style="margin-bottom: 50px; margin-top: 40px;">
      <h3 class="text-center" id="homepage-text-center-dashboard"> How it works </h3>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="text-center-dashboard">
          <img src="https://images.unsplash.com/photo-1490127252417-7c393f993ee4?auto=format&fit=crop&w=1500&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" alt="enjoy" id="enjoy-it">
          <h3> Search </h3>
          <p class="home-text">Search for available cooks in your local area, rediscover your neighborhood</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="text-center-dashboard">
          <img src="https://images.unsplash.com/photo-1505844198316-51ad7a26d18b?auto=format&fit=crop&w=1500&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" alt="money" id="earn-money">
          <h3> Book </h3>
          <p class="home-text">Book your chosen cook for a specific date and communicate via messages</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="text-center-dashboard">
          <img src="https://images.unsplash.com/photo-1503172544377-59d00bfab9db?auto=format&fit=crop&w=1502&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" alt="social" id="get-social">
          <h3> Relax </h3>
          <p class="home-text">Your cook will handle the cooking so you can focus on what really matters</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="wrapper-testimonial">
  <div class="testimonal-header">
    <h3 class="text-center testimonial-title" id="homepage-text-center-dashboard">Find a cook or become one</h3>
  </div>
  <div class="container" id="wrapper-home-cards">
    <div class="testimonials">
      <figure class="snip1139">
        <blockquote>iCanCOOK helped me throw a graduation ceremony, with a cool food-twist, without paying insane amounts to an agency.
          <div class="arrow"></div>
        </blockquote>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample3.jpg" alt="sample3"/>
        <div class="author">
          <h5>Steve <span>London</span></h5>
        </div>
      </figure>
      <figure class="snip1139 hover">
        <blockquote>I wanted to impress my girlfriend with some great food on our balcony. The cook I found here made a huge difference.
          <div class="arrow"></div>
        </blockquote>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample47.jpg" alt="sample47"/>
        <div class="author">
          <h5>Max <span>- Bath</span></h5>
        </div>
      </figure>
      <figure class="snip1139">
        <blockquote>I booked a great cook via iCanCOOK for my birthday party - an outdoor barbecue. The food was great and she was so much fun!
          <div class="arrow"></div>
        </blockquote>
        <img src="https://images.unsplash.com/photo-1504683706615-c26f923422f3?auto=format&fit=crop&w=750&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" alt="sample17"/>
        <div class="author">
          <h5>Eleanor<span>Wales</span></h5>
        </div>
      </figure>
    </div>
  </div>
</div>
<div class="home-canva">
  <%= image_tag "Cook.png", class: "canva-image" %>
</div>

<%= content_for(:after_js) do %>
  <script>
    var nav = $('.navbar-wagon').offset().top
    var wrapperHome = $('.wrapper-home').offset().top

    $(document).scroll(function() {
      var scrollPos = $(document).scrollTop();
      if (scrollPos >= wrapperHome) {
        $('.navbar-wagon').css('background-color', '#433E3F');
      } else {
        $('.navbar-wagon').css('background-color', 'transparent');
      }
    });
  </script>
<% end %>


